<p id="notice"><%= notice %></p>
<h1>Learning Lists</h1>
<h3>List: <%= @list.name%></h3>

<%= form_for(Attemp.new, url: attemps_path, method: :post ) do |f| %>
  <table>
    <% @list.list_items.each do |item| %>
      <tr>
        <td><%= check_box_tag "item[list_item_ids][]", item.id, false, class: 'list_item_checkbox'%><%= item.name %></td>
      </tr>
    <% end %>
  </table>
  <%= hidden_field_tag :list, @list.id  %>
	<p>Items selected: <span id='selected_items'>0</span></p>
  <%= submit_tag("Submit") %>
<% end %>

<br>
<%= link_to 'Go Back', root_path, class: 'list-btn' %>